<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.codef.mapper.CardTransactionMapper">

    <insert id="insertCardTransaction" parameterType="org.scoula.codef.domain.CardTransactionVO">
        INSERT INTO card_transaction
        (card_id, category_id, approval_no, amount, payment_type, installment_month, transaction_date,
         store_name, store_name1, store_type, cancel_status, cancel_amount)
        VALUES
            (#{cardId}, #{categoryId}, #{approvalNo}, #{amount}, #{paymentType}, #{installmentMonth}, #{transactionDate},
             #{storeName}, #{storeName1}, #{storeType}, #{cancelStatus}, #{cancelAmount})
    </insert>

    <!-- 여러 건 한꺼번에 insert (배치) -->
    <insert id="insertCardTransactions" parameterType="java.util.List">
        INSERT INTO card_transaction
        (card_id, category_id, approval_no, amount, payment_type, installment_month, transaction_date,
        store_name, store_name1, store_type, cancel_status, cancel_amount)
        VALUES
        <foreach collection="list" item="tx" separator=",">
            (#{tx.cardId}, #{tx.categoryId}, #{tx.approvalNo}, #{tx.amount}, #{tx.paymentType}, #{tx.installmentMonth}, #{tx.transactionDate},
            #{tx.storeName}, #{tx.storeName1}, #{tx.storeType}, #{tx.cancelStatus}, #{tx.cancelAmount})
        </foreach>
    </insert>


    <select id="findLastTransactionDateByCardId" parameterType="long" resultType="string">
        SELECT DATE_FORMAT(MAX(transaction_date), '%Y%m%d')
        FROM card_transaction
        WHERE card_id = #{cardId}
    </select>

    <select id="findAllTxKeyByCardIdFromDate" parameterType="map" resultType="string">
        SELECT CONCAT(approval_no, '|', card_id) AS approvalKey
        FROM card_transaction
        WHERE card_id = #{cardId}
          AND approval_no IS NOT NULL AND approval_no != ''
      AND transaction_date >= STR_TO_DATE(#{startDate}, '%Y%m%d')
    </select>


</mapper>
