<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.member.mapper.MemberMapper">

    <resultMap id="memberMap" type="MemberVO">
        <id property="userId" column="user_id" />
        <result property="loginId" column="login_id" />
        <result property="password" column="password" />
        <result property="email" column="email" />
        <result property="createdAt" column="create_at" />
    </resultMap>

    <select id="get" resultMap="memberMap">
        SELECT user_id, login_id, password, email, create_at
        FROM users
        WHERE login_id = #{loginId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users (login_id, email, password, name, create_at, point)
        VALUES (#{loginId}, #{email}, #{password}, #{name}, now(), 0)
    </insert>

</mapper>
