<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.push.mapper.SubscriptionMapper">

    <!-- FCM 토큰으로 기존 구독 정보 조회 -->
    <select id="findByToken" resultType="org.scoula.push.domain.Subscription">
        SELECT *
        FROM subscription
        WHERE endpoint = #{token}
    </select>

    <!-- 새 구독 정보 삽입 -->
    <insert id="insert" parameterType="org.scoula.push.domain.Subscription">
        INSERT INTO subscription (user_id, endpoint, is_active, created_at)
        VALUES (#{userId}, #{endpoint}, #{isActive}, #{createdAt})
    </insert>

    <!-- 구독 활성/비활성 처리 -->
    <update id="updateIsActive">
        UPDATE subscription
        SET is_active = #{isActive}
        WHERE endpoint = #{token}
    </update>

    <!--  모든 알림 구독자 조회  -->
    <select id="findAllActive" resultType="org.scoula.push.domain.Subscription">
        SELECT * FROM subscription
        WHERE is_active = true
    </select>

</mapper>
