<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.security.account.mapper.UserDetailsMapper">

<!--    <resultMap id="authMap" type="AuthVO">-->
<!--        <result property="userId" column="user_id" />-->
<!--        <result property="auth" column="auth" />-->
<!--    </resultMap>-->

    <resultMap id="memberMap" type="MemberVO">
        <id property="userId" column="user_id" />
        <result property="loginId" column="login_id" />
        <result property="password" column="password" />
        <result property="email" column="email" />
        <result property="createdAt" column="create_at" />  <!-- 컬럼명은 create_at, VO는 createdAt -->
<!--        <collection property="authList" resultMap="authMap" />-->
    </resultMap>

    <select id="get" resultMap="memberMap">
        SELECT m.user_id, m.login_id, m.password, m.email, m.create_at
        FROM users m
        WHERE m.login_id = #{loginId}
    </select>

<!--    <select id="findByUsername" resultType="org.scoula.security.account.domain.MemberVO">-->
<!--        SELECT * FROM users WHERE login_id = #{username}-->
<!--    </select>-->


    <select id="findByLoginIdAndEmail" resultType="org.scoula.security.account.domain.MemberVO">
        SELECT * FROM users
        WHERE login_id = #{loginId}
          AND email = #{email}
    </select>


    <update id="resetPassword">
        UPDATE users SET password = #{password} WHERE login_id = #{loginId}
    </update>

    <select id="findByEmail" resultMap="memberMap">
        SELECT * FROM users WHERE email = #{email}
    </select>


</mapper>
